<html>
<head>
<meta http-equiv="Content-Type"; content="text/html; charset=utf-8">
<title>Игра в шпиона</title>
</head>
<body>
<p>Новая игра

<form id="creategame" action="/newgame_create" method="POST">

<p>Количество игроков: <input type="text" name="count" form="creategame">
<p>Локации:
<br><i>Укажите здесь возможные локации по одной локации в строке. Если хотите играть в стандартном наборе локаций, оставьте поле пустым</i>
<br>
<TEXTAREA name='words' style='width:100%;height:30%' rows=10 form="creategame"></TEXTAREA>
<p><input type="submit" value="Создать игру" form="creategame">
</form>

</body>
</html>